[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
pytest = "*"
pytest-sugar = "*"
pytest-cov = "*"
pylint = "*"
black = "*"
pre-commit = "*"
sphinx = "*"
bpython = "*"
ipdb = "*"
ptvsd = "*"

[packages]
beautifulsoup4 = "*"
"discord.py" = "*"
python-dotenv = "*"

[scripts]

[requires]
python_version = "3.8"
