[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "==1.7.1"
pylint = "==3.0.2"
black = "==23.12.0"
bpython = "==0.24"
ipdb = "==0.13.13"
ptvsd = "==4.3.2"

[packages]
"discord.py" = "==1.7.3"
google-cloud-translate = "==3.13.0"
wordnik-py3 = "==2.1.2"

[scripts]
format = "black ."
lint = "pylint src"

[requires]
python_version = "3.11"
